<ul>
    <li><a href="/w/">Start</a></li>
    <li class="has-submenu">
        <a href="">Weiteres</a>
        <ul>
            <li><a href="/w/index.php?b">Der Blog</a></li>
            <li><a href="/w/index.php?p=changelog.php">Changelog</a></li>
            <li><a href="/w/index.php?p=status.php">Status aller Systeme</a></li>
            <li><a href="/w/index.php?p=archiv.html">Archiv</a></li>
            <li><a href="/w/index.php?p=green.html">Umweltschutz</a></li>
            <li><a href="https://www.whatismybrowser.com/">User Agent</a></li>

        </ul>
    </li>
    <li><a href="?p=spenden.html">Spenden</a></li>
    <li><a href="/w/index.php?p=about.html">Über Mich</a></li>
    <li class="has-submenu">
        <a href="">Dienste</a>
        <ul>
            <li><a href="/cloud/">Nextcloud</a></li>
            <li><a href="/w/cloud/">RiCloud</a></li>
            <li><a href="https://s.riley-tech.de">Kurz- URL</a></li>
            <li><a href="/w/index.php?p=service.php">Status und Dienste</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="">Partnerprojekte</a>
        <ul>
            <li><a href="https://netzarchiv.org" target="_blank" rel="noopener noreferrer">netzarchiv.org</a></li>
            <li><a href="https://boykott-meta.org" target="_blank" rel="noopener noreferrer">boykott-meta.org</a></li>
        </ul>
    </li>
</ul>
