<ul>
    <li><a href="/w/">Start</a></li>
    <li class="has-submenu">
        <a href="">Weiteres</a>
        <ul>
            <li><a href="/w/index.php?b">home.php</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="">Partnerprojekte</a>
        <ul>
            <li><a href="https://netzarchiv.org" target="_blank" rel="noopener noreferrer">netzarchiv.org</a></li>
            <li><a href="https://boykott-meta.org" target="_blank" rel="noopener noreferrer">boykott-meta.org</a></li>
        </ul>
    </li>
</ul>
